@import "Style1";

@mixin chg-border-radius($customer) {
  -webkit-border-radius: $customer;
     -moz-border-radius: $customer;
      -ms-border-radius: $customer;
          border-radius: $customer;
}
.divOne{
	@include chg-border-radius(10px);
	height: 300px;
	width: 400px;
	top:10%;
}
.divTwo{
	@extend .divOne;
}
.divThree{
	@extend .divOne
}